

trigger:
- azure

pr:
- azure

variables:
  system.debug: 'true'
  ref.data.home: '$(Agent.BuildDirectory)/tardis-refdata'

  ref.data.github.url: 'https://github.com/Youssef15015/tardis-refdata.git'
  tardis.build.dir: $(Build.Repository.LocalPath)

  travis.repo.slug: 'Youssef15015/tardis'



jobs:



- job: 'Test'
  pool:
    vmImage: $[variables.vm_Image]


  strategy:
    matrix:
      linux:
        vm_Image: 'Ubuntu-16.04'
        conda: '/usr/share/miniconda'
    maxParallel: 4

  steps:





# Download Secure File
# Download a secure file to a temporary location on the build or release agent
  - task: DownloadSecureFile@1
    inputs: 
      secureFile: 'id_azure_rsa'

# Install SSH Key
# Install an SSH key prior to a build or release
  - task: InstallSSHKey@0
    inputs:
     hostName: $(gh_host)
     sshPublicKey: $(public_key)
     #sshPassphrase: # Optional $(Agent.TempDirectory)
     sshKeySecureFile: 'id_azure_rsa'

  - bash: |
          ls
    displayName: Display repository files

  - bash: |
          echo "##vso[task.prependpath]$CONDA/bin"
          ls
    displayName: Add conda to PATH

  - bash: |
      sudo chown -R $USER $CONDA
      conda update -y conda
      ls
    displayName: updating conda and activating

  - bash: |
        sh ci-helpers/install_tardis_env.sh
        ls
    displayName: 'Install TARDIS env'

  - bash: |
        sh ci-helpers/fetch_reference_data.sh
        ls
    displayName: 'Fetch Reference Data'


  - bash: |
        source activate tardis
        source deploy_docs.sh
    displayName: 'TARDIS build and deployment to gh-pages'



#  - task: PublishTestResults@2
#    condition: succeededOrFailed()
#    inputs:
#      testResultsFiles: '**/test-*.xml'
#      testRunTitle: 'Test results for TARDIS on $(vm_Image)'

#  - task: PublishCodeCoverageResults@1
#    inputs:
#      codeCoverageTool: Cobertura
#      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
#      reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'